{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %}
      <tr>
        <td>{{i.id}}</td>
        <td><a href="{% url 'edit' i.id %}">{{i.musician.firstName}}</a></td>
        <td>{{i.musician.last_name}}</td>
        <td>{{i.musician.email}}</td>
        <td>{{i.rating}}</td>
        <td>{{i.musician.instrument_type}}</td>
        <td>{{i.albumName}}</td>
        <td>{{i.albumReleaseDate}}</td>
        {% if request.user.is_authenticated %}
        <td> <a class="btn btn-warning text-dark" href=" {% url 'edit' i.id %} ">Edit</a>
        <a class="btn btn-danger text-dark" href=" {% url 'delete' i.id %} ">Delete</a>
        </td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}